<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Department</title>

</head>
<body>
	
	<th:block th:insert="Header.html"></th:block>
	
	<div class="container-fluid">
		
		<div class = "card">
			
			<div class="card-header bg-primary text-center text-white"><h5>Edit Department</h5></div>
			
			<div class="card-body">
				
				<form action="/dept/update" method="post" th:object="${dmodel}">
				
				<div class="row p-2">
					<div class="col-4">Department Name</div>
					<div class="col-6">
						<input type="text" th:field="*{dept_name}" class="form-control">
					</div>
				</div>
				
				
				<div class="row p-2">
					<div class="col-4">Department Head</div>
					<div class="col-6">
						<input type="text" th:field="*{dept_hod}" class="form-control">
					</div>
				</div>
				
			
				<div class="row p-2">
					<div class="col-4">Department Phone</div>
					<div class="col-6">
						<input type="text" th:field="*{dept_phone}" class="form-control">
					</div>
				</div>
				
				
				<div class="row p-2">
					<div class="col-4"></div>
					<div class="col-6">
						<input type="submit" value="Update" class="btn btn-success btn-lg">
					</div>
				</div>
				
				<input type="hidden" th:field = "*{id}">
				</form>
				
			</div>
			
			<div class="card-footer text-center">copyright@2023</div>
			
		</div>		
	</div>
</body>
</htmlxmlns="https://www.thymeleaf.org">